body{
  max-width: fit-content;
}
/* Style the header with a grey background and some padding */
header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: #24262b;
  padding: 0px;
  max-width: 100%; 
  margin-bottom: 50px;
  display: flexbox;
}
.search{
  text-align: right;
  bottom: 200px;
  right: 0px;
  position: relative;
}
.searchbutton{
  width: 90px;
  height: 30px;
  font-size: 13px;
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 30%;
}
#searchmov{
  height: 21px;

}
/* Style the header links */
header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  float: right;
  list-style: none;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
header a:hover {
  background-color: black;
  color: red;
}

/* Style the active/current link*/
header a.active {
  background-color: dodgerblue;
  color: white;
}



.container{
	max-width: 1170px;
	margin:auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0px;
    
}
.footer-col{
   width: 25%;
   padding: -1px 15px;
   
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}


/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

label {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.aboutus{
  inline-size: 400px;
    overflow-wrap: break-word;
    
}

aside {
  /* position: absolute; */
  padding: 350px 200px 14px 10px;
  margin-top: -150px;
  position: relative;
}

.image{
  width: 500px;
  height: 300px;
  right: -600px;
  /* position: absolute; */
  margin-top: -150px;
  position: relative;
}
form{
  display: flex;
  padding: 3em;
  gap: 5px;
  justify-content: center;
  color: white;
}
.contactus{
  text-align: center;
  justify-content: space-between;
  color: white;
}
.contact{
  text-align: center;
  color: white;
}
textarea{
  width: 400px;
  height: 50px;
}
.logo{
  position:relative;
  width: 200px;
  height: 200px;
  border-radius: 20%;
  top: 30px;
}

.newsletter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter-img{
  width: 400px;
  height: 200px;
}

.newsletter-image{
  flex-basis: 40%;
}

.newsletter-text {
  font-size: 16px;
  padding-left: 20px;
}

.top_film_table {
  
  text-align: center;
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  border-spacing: 20px;
  fill: #24262b;
  background-color: #24262b;
  box-shadow: 0 4px 8px 0 rgba(165, 162, 162, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center_text {
  text-align: center;
  justify-content: center;
}

.zoom_image {
  box-shadow: 0 4px 8px 0 rgba(228, 224, 224, 0.37), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: transform .2s;
}

.zoom_image:hover {
  transform: scale(1.5);
}

.book_film_table {
  
  text-align: center;
  width:70%; 
  margin-left:15%; 
  margin-right:15%;
  border-spacing: 20px;
  fill: #24262b;
  background-color: #24262b;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(165, 162, 162, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

select {
  width: 150px;
}

.book_movie_button {
  padding: 32px 16px;
  color: white;
  background-color: #e91e63;
  border-color: #e91e63;
  border-radius: 4px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.book_movie_button:hover{
  background-color: gray;
}

.view_movie_button {
  width: 30%;
  color: white;
  background-color: #e91e63;
  border-color: #e91e63;
  border-radius: 4px;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.view_movie_button:hover{
  background-color: gray;
}

 
